/* Reset CSS */
html{
  overflow-y: scroll;
  overflow-x: auto;
}

body{
  font-family: 'Nanum Gothic', sans-serif;
  color: #333;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  display: block;
}

.material-icons{
  display: block;
}



/* ------------------- Header ------------------- */
header{
  width: 100%;
  background-color: #F6F5F0;
  z-index: 5;

  position: fixed;
  top: 0;

  border-bottom: 1px solid #c8c8c8;
}

.inner{
  width: 1100px;

  margin: 0 auto;
  font-family: Arial, sans-serif;

  position: relative;
}

header>.inner{
  height: 120px;
}

header .header-starbucks-logo{
  display: block;
  width: fit-content;
  height: fit-content;

  /* 수직 가운데 정렬 */
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}


/* Header-subMenu */
.header-submenu{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  top: 10px;
  right: 0;
}

.header-submenu>ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header-submenu>ul>li{
  position: relative;
}

.header-submenu>ul>li::before{
  content: "";

  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;

  width: 1px;
  height: 12px;
  background-color: #000;
}

.header-submenu>ul>li:first-child:before{
  display: none;
}

.header-submenu a{
  font-size: 13px;
  display: block;
  padding: 11px 16px;
  color: #656565;
}

.header-submenu a:hover{
  color: #000;
  font-weight: 500;
}

.header-submenu>.search>input{
  display: block;
  width: 36px;
  height: 34px;
  font-size: 12px;

  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 4px;

  /* outline = 클릭했을 시 파란색 border */
  outline: none;

  transition: all .5s;
}

.header-submenu>.search>input:focus{
  width: 168px;
  border: 1px solid #669900;
}

.header-submenu>.search>.material-icons{
  height: 24px;
  
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto 0;

  transition: opacity .5s;
}

/* JS에서 classList.add로 focused를 추가되었을때 */
.header-submenu>.search.focused>.material-icons{
  opacity: 0;
}


/* Header-mainMenu */
.header-mainmenu{
  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-mainmenu .menu-name{
  padding: 10px 20px 34px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.header-mainmenu>li:hover{
  color: #669900;
  background-color: #2C2A29;
  border-radius: 6px 6px 0 0;
}

.header-mainmenu .content-top{
  background-color: #2C2A29;
}

.header-mainmenu .coffee-content,
.header-mainmenu .menu-content,
.header-mainmenu .store-content,
.header-mainmenu .respon-content,
.header-mainmenu .rewards-content,
.header-mainmenu .new-content{
  display: none;
  z-index: 1;
}

.header-mainmenu .mainmenu-coffee.hover .coffee-content{
  display: block;
  width: 100%;
  position: fixed;
  left: 0;
}
.header-mainmenu .mainmenu-menu.hover .menu-content{
  display: block;
  width: 100%;
  position: fixed;
  left: 0;
}
.header-mainmenu .mainmenu-store.hover .store-content{
  display: block;
  width: 100%;
  position: fixed;
  left: 0;
}
.header-mainmenu .mainmenu-respon.hover .respon-content{
  display: block;
  width: 100%;
  position: fixed;
  left: 0;
}
.header-mainmenu .mainmenu-rewards.hover .rewards-content{
  display: block;
  width: 100%;
  position: fixed;
  left: 0;
}
.header-mainmenu .mainmenu-new.hover .new-content{
  display: block;
  width: 100%;
  position: fixed;
  left: 0;
}

.header-mainmenu .content-top>.inner{
  font-family: 'Nanum Gothic', sans-serif;
  padding: 20px 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.header-mainmenu .content-bottom>.inner{
  padding: 26px 0;
}

.header-mainmenu ul{
  width: fit-content;
}

.header-mainmenu .inner li,
.header-mainmenu .inner h1{
  width: 220px;
}

.header-mainmenu .inner h1{
  font-size: 14px;
  color: white;
  padding: 3px 0 12px 0;
}

.header-mainmenu .inner li{
  font-size: 12px;
  color: #999;
  padding: 5px 0;
}

.header-mainmenu .inner h2,
.header-mainmenu .inner p{
  font-size: 12px;
}

.header-mainmenu .inner h2{
  color: #999;
}

.header-mainmenu .inner p{
  color: #64a70b;
  margin: 4px 0 14px 0;
}


.header-mainmenu .content-bottom{
  background-image: url(../imgs/main_menu_pattern.jpg);
}

.header-mainmenu .inner li:hover{
  color: #669900;
  cursor: pointer;
}



/* ------------------ footer ------------------ */
footer{
  width: 100%;
  background-color: #272727;
}

footer>.inner{
  padding: 40px 0 60px 0;
}

footer>.inner{
  font-family: 'Nanum Gothic', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

footer>.inner>.footer--anchor{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  margin-bottom: 20px;
}

footer>.inner>.footer--anchor>li::before{
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

footer>.inner>.footer--anchor>li:first-child::before{
  display: none;
}

footer>.inner>.footer--anchor>li:first-child>a{
  color: #669900;
}

footer>.inner>.footer--anchor a{
  display: block;
  font-family: 'Nanum Gothic', sans-serif;
  
  color: #CCC;
  font-size: 12px;
  padding: 15px;
  box-sizing: border-box;
}

footer>.inner>.footer--btn{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}

footer>.inner>.footer--btn>a{
  font-family: 'Nanum Gothic', sans-serif;

  width: 130px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  background-color: transparent;
  text-align: center;
  margin-right: 10px;

  transition: all .4s;

  display: block;
}

footer>.inner>.footer--btn>a:hover{
  color: #000;
  background-color: #fff;
}

footer>.inner>.footer--btn>a:last-child{
  margin-right: 0;
}

footer>.inner>.footer--span{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 12px;
}

footer>.inner>.footer--span span{
  color: #999;
  font-size: 12px;
  margin-right: 20px;
}

footer>.inner>span{
  font-size: 12px;
  color: #999;
  margin-bottom: 30px;
}