.login{
  margin-top: 120px;
  padding: 100px 0 150px;
  font-family: 'Nanum Gothic', sans-serif;
  color: #333;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  box-sizing: border-box;

  background-image: url(/imgs/signin_bg.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login>h1{
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}

.login_card{
  width: 500px;
  background-color: #F6F5F0;
  border-radius: 6px;
  box-shadow: 2px 2px 20px rgb(0 0 0 / 30%);
}

.login_card>h1{
  padding: 30px;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.login_card>h1>strong{
  color: #006633;
  font-weight: bold;
}

.login_card>form{
  padding: 30px 22px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid #ddd;
}

.login_card>form>input{
  width: 100%;
  font-size: 14px;
  margin-bottom: 12px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.login_card>form>[type="submit"]{
  font-size: 20px;
  color: #fff;
  background-color: #006633;

  cursor: pointer;
}

.login_card>form>span{
  font-size: 12px;
  color: #006633;
  text-align: center;
}

.login_card>.anchors{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_card>.anchors>a{
  color: #555;
  font-size: 14px;
  padding: 20px;
  border-right: 1px solid #ddd;
  flex-grow: 1;
  text-align: center;

  flex-basis: 0;
}

.login_card>.anchors>a:last-child{
  border: none;
}

.login_card>.anchors>a:hover{
  text-decoration: underline;
}